### Test yfinance pour les tickers Apple, micorsoft, et tesla avec leurs prix de clôture ajusté

In [2]:
import yfinance as yf
import pandas as pd

tickers = ["AAPL", "MSFT", "TSLA"]
prices = yf.download(tickers, start="2023-01-01", end="2024-01-01", auto_adjust=False)["Adj Close"]
prices.head()

[*********************100%***********************]  3 of 3 completed

Ticker            AAPL        MSFT        TSLA
Date
2023-01-03  123.330635  234.423584  108.099998
2023-01-04  124.602715  224.169128  113.639999
2023-01-05  123.281334  217.525269  110.339996
2023-01-06  127.817360  220.088867  113.059998
2023-01-09  128.339996  222.231720  119.769997

### Test de la fonction "get_data_adj" sur 4 ans

In [2]:
import sys
sys.path.append("..")

from src.data_loader import get_data_adj
tickers = ["AAPL", "MSFT", "TSLA"]
prices = get_data_adj(tickers, start="2020-01-01", end="2024-12-31")
prices

[*********************100%***********************]  3 of 3 completed

Ticker            AAPL        MSFT        TSLA
Date
2020-01-02   72.538521  152.791107   28.684000
2020-01-03   71.833290  150.888596   29.534000
2020-01-06   72.405685  151.278610   30.102667
2020-01-07   72.065147  149.899307   31.270666
2020-01-08   73.224426  152.286926   32.809334
...                ...         ...         ...
2024-12-23  254.367020  432.871429  430.600006
2024-12-24  257.286682  436.929108  462.279999
2024-12-26  258.103729  435.715790  454.130005
2024-12-27  254.685867  428.177216  431.660004
2024-12-30  251.307877  422.508331  417.410004

[1257 rows x 3 columns]